<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="p-3 col-md-8">
          <div class="blockquote mb-0">
            <p>"I throw myself down among the tall grass by the trickling stream; and, as I lie close to the earth, a thousand unknown plants are noticed by me: when I hear the buzz of the little world among the stalks."</p>
            <div class="blockquote-footer">
              <b>J. W. Goethe</b>, CEO at Werther Inc.</div>
          </div>
        </div>
        <div class="col-md-2 mx-auto p-3"> <img class="img-fluid d-block rounded-circle" src="https://static.pingendo.com/img-placeholder-2.svg"> </div>
      </div>
    </div>
  </div>
  <div class="py-5 text-center" style="background-image: url(&quot;https://static.pingendo.com/cover-bubble-dark.svg&quot;); background-size: cover;">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <ul class="nav nav-pills">
            <li class="nav-item"> <a href="" class="active nav-link" data-toggle="pill" data-target="#tabone">Login</a> </li>
            <li class="nav-item" style="	text-shadow: 0px 0px 4px black, 0px 0px 4px black;	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabtwo">Register</a> </li>
            <li class="nav-item" style="	text-shadow: 0px 0px 4px black, 0px 0px 4px black;	box-shadow: 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black, 0px 0px 4px  black;"> <a class="nav-link" href="" data-toggle="pill" data-target="#tabthee">Remember password</a> </li>
          </ul>
          <div class="tab-content mt-2">
              {%include 'pages/_alerts.htm' %}
            <div class="tab-pane fade show active" id="tabone" role="tabpanel">
              <form id="c_form-h" class="" style="" action="{%url 'login' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group row"> <label for="inputmailh" class="col-2 col-form-label">E-mail</label>
                  <div class="col-10">
                    <input type="email" class="form-control" id="inputmailh" name="email" placeholder="mail@example.com"> </div>
                </div>
                <div class="form-group row"> <label for="inputpasswordh" class="col-2 col-form-label">Password</label>
                  <div class="col-10">
                    <input type="password" class="form-control" id="inputpasswordh" name="password" placeholder="Password"> </div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="tab-pane fade" id="tabtwo" role="tabpanel">
              <form class="" action="{%url 'register' %}" method="POST">
                  {% csrf_token %}
                <div class="form-group"> <label>Email address</label> <input type="email" name="email" class="form-control" placeholder="Enter email"> <small class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
                <div class="form-group"> <label>Password</label> <input type="password" name="password" class="form-control" placeholder="Password"> </div>
                <div class="form-group"> <label>Password confirm</label> <input type="password" name="password2" class="form-control" placeholder="Password"> </div> <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="tab-pane fade" id="tabthee" role="tabpanel">
              <form class="">
                <div class="form-group"> <label>Email address</label> <input type="email" class="form-control" placeholder="Enter email"> <small class="form-text text-muted">We'll never share your email with anyone else.</small> </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0">© 2014-2018 Pingendo. All rights reserved</p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <pingendo onclick="window.open('https://pingendo.com/', '_blank')" style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block" alt="Pingendo logo" height="16"></pingendo>
</body>

</html>